<!DOCTYPE html>
<html>
<head>
    <title>Bootshaus</title>
</head>
<body>

    <nav>
        <a href="{% url 'home' %}">Home</a> |
        <a href="{% url 'create_booking' %}">Book a Table</a> |

        {% if user.is_authenticated %}
            <a href="{% url 'my_bookings' %}">My Bookings</a> |
            
            <form action="{% url 'logout' %}" method="POST" style="display:inline;">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
        {% endif %}
    </nav>

    <hr>

    {% block content %}
    {% endblock %}

</body>
</html>