{% extends 'bookings/base.html' %}

{% block content %}

{% if form.errors %}
    <div class="alert alert-danger">
        {{ form.errors }}
    </div>
{% endif %}

<div class="row justify-content-center">
    <div class="col-md-6">

        <h1 class="mb-4 text-center">Book a Table</h1>

        <form method="POST" class="card p-4 shadow">
            {% csrf_token %}

            <div class="mb-3">
                <label class="form-label">Full Name</label>
                {{ form.full_name }}
            </div>

            <div class="mb-3">
                <label class="form-label">Email</label>
                {{ form.email }}
            </div>

            <div class="mb-3">
                <label class="form-label">Date</label>
                {{ form.booking_date }}
                <div class="text-danger">
                    {{ form.booking_date.errors }}
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label">Time</label>
                {{ form.booking_time }}
                <div class="text-danger">
                    {{ form.booking_time.errors }}
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label">Guests</label>
                {{ form.guests }}
                <div class="text-danger">
                    {{ form.guests.errors }}
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label">Special Request</label>
                {{ form.special_request }}
            </div>

            <button type="submit" class="btn btn-primary w-100">
                Book Table
            </button>

        </form>

    </div>
</div>
{% endblock %}